#folders
node_modules
dist

#files
package-lock.json
start.sh
LICENSE
README*

#git
.git
.github

#dotfiles
.gitkeep
.gitignore
.gitattributes
.gitmodules
.npmignore
.editorconfig

#temporary
*.log
*~
