# Logs
logs/
*.log

# Runtime data
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Git
.git
.gitkeep
.gitignore
.gitattributes
.gitmodules
.cache

# Dotfiles
.npmignore
.editorconfig
.github

# License and readme
LICENSE
README*

# Build
dist
