# Build
dist

# Dependencies
node_modules
jspm_packages

# Dotenv
.env
.env.local
.env.*.local

# Logs
logs/*
*.log

# Runtime data
*.pid
*.seed
*.pid.lock

# Temporary
*~
.netrwhist

# Cache
.cache
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.node_repl_history

# MacOS
.DS_Store

# Visual Studio Code
.vscode
.history
.vscode-test
*.vsix

# JetBrains
.idea
*.iws
.idea_modules

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
[._]*.un~
